.info{
  height: 220px;
  width: 100%;
  overflow: hidden;;
  box-sizing: border-box;
  position: relative;
  background-color: linen;
  padding: 30px;
}

.info img{
  display: block;
  width: min-content;
  height: 220px;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}

.info h2{
  color: black;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-family: "华文行楷","Times New Roman",Georgia,Serif;
}